@model SectionModel

@{
    ViewData["Title"] = "Create Class";
}

<form method="post">
    <div class="border p-2 mt-4">
        <div class="row pb-2">
            <h2>Add New Section</h2>
        </div>
        <div class="mb-3 p-1">
            <label asp-for="Name" class="p-0 my-2"></label>
            <input asp-for="Name"
                   type="text"
                   class="form-control"
                   placeholder="Enter new section name" />
            <span asp-validation-for="Name" class="pt-1 text-danger"></span>
        </div>

        <div asp-validation-summary="All"></div>

        @*Class Id*@
        <input 
            asp-for="ClassId"
            value="@ViewBag.ClassId"
            hidden
        />

        <div class="d-flex gap-1">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
                Cancel
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
