<h1>Toast</h1>
<script src="~/lib//jquery//dist//jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

@if (TempData["DBUpdateStatus"] != null)
{
   
    <script type="text/javascript">
        toastr.info('@TempData["DBUpdateStatus"]')
    </script>
}
