<h2 class="mt-5">Project Title: Student Management System</h2>

<div class="p-2 d-flex flex-column gap-4">
    <b>Sumitted To: Sir Ahsan Ali Haroon</b>
    
    <ul class="list-unstyled">
        Devloped By:
        <li class="my-2">Zain ul Din (fa-2020/BSCS/147)</li>
    </ul>
    <span class="text-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Go Home</a>
    </span>
</div>